<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">

<head>

<div th:replace="views/public/layout/layout :: head"></div>

</head>
<body>
	<!-- *** TOPBAR Y NAVBAR ***
 _________________________________________________________ -->

	<div th:replace="views/public/layout/layout :: header"></div>

	<!-- *** TOPBAR Y NAVBAR END *** -->
	<section id="form"><!--form-->
		<div class="container">
			<div class="row">
				<div class="col-sm-4 col-sm-offset-1">
					<div class="login-form"><!--login form-->
						<h2>Ingrese a su cuenta</h2>
						<form ath:action="@{/cuenta/login}"  method="post">
						
							
							 <label for="correo">Email</label>
							<input type="email" placeholder="password" name="correo" id="correo" />
							<label for="password">Password</label>
							<input type="password" placeholder="password" name="password" id="password" />
							<span>
								<input type="checkbox" class="checkbox"> 
								Keep me signed in
							</span>
							<button type="submit" class="btn btn-default">Iniciar Sesión</button>
						</form>
						<span th:text="${error}"></span>
					</div><!--/login form-->
				</div>
				<div class="col-sm-1">
					<h2 class="or">OR</h2>
				</div>
				<div class="col-sm-4">
					<div class="signup-form"><!--sign up form-->
						<h2> Registro de nuevo usuario </h2>
						<form th:action="@{/cuenta/registrar}" th:object = "@{cuentas}" method="post">
						
							<input type="text"  placeholder="Name"/>
							<label for="correo">Correo</label>
							<input type="email" th:field="*{correo}" placeholder="Email Address"  name="correo" id="correo">
							<label for="password">Correo</label>
							<input type="password" th:field="*{password}" placeholder="password"  name="password" id="password">
							
							<button type="submit" class="btn btn-default">Registrarse</button>
						</form>
						<span th:text="${message}"></span>
					</div><!--/sign up form-->
				</div>
			</div>
		</div>
	</section><!--/form-->
	




	<!-- *** FOOTER Y COPYRIGHT ***
 _________________________________________________________ -->
	<div th:replace="views/public/layout/layout :: footer"></div>

	<!-- *** FOOTER Y COPYRIGHT END *** -->

	<script th:src="@{/public/js/jquery.js}"></script>
	<script th:src="@{/public/js/bootstrap.min.js}"></script>
	<script th:src="@{/public/js/jquery.scrollUp.min.js}"></script>
	<script th:src="@{/public/js/price-range.js}"></script>
	<script th:src="@{/public/js/jquery.prettyPhoto.js}"></script>
	<script th:src="@{/public/js/main.js}"></script>
</body>
</html>